body {
  overflow: hidden !important;
}
.img_1 {
  height: 90%;
  margin-top: 90px;
  width: 100%;
}
.h_1 {
  color: #1d316e;
  padding-top: 200px;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Btn {
  width: 220px;
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;

  margin-top: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(114, 112, 112, 0.089);
  cursor: pointer;
  border: 5px #848486 solid;
  background-color: transparent;
}

.leftContainer {
  width: 150%;
  height: 100%;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(39, 39, 39);
  font-weight: 600;
  position: relative;
  background-color: rgb(44, 43, 43);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(44, 43, 43);
  transform: rotate(45deg);
  left: -4px;
}

.Btn:hover .leftContainer {
  background-color: rgb(109, 107, 107);
}

.Btn:active .leftContainer {
  background-color: rgb(109, 107, 107);
}

.Btn:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}
/**************NavBar***********/
#header {
  background-color: #ffffff;
}

.nav-item {
  padding-left: 20px !important;
}

.nav-link:hover {
  color: #333399 !important;
}
.navbar-nav {
  height: 50px;
  width: 60%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccccff;

  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.navbar-nav a {
  padding-top: 15px;
  font-weight: 700 !important;
  color: #999999 !important;
}

.nav-item :hover {
  color: #333399 !important;
}
.navbar-nav {
  height: 50px;
  width: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccccff;

  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.navbar-nav a {
  font-weight: 500;
  color: #999999 !important;
}

.nav-item :hover {
  color: #333399 !important;
}
.form-control_1 {
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.form-control {
  -webkit-border-radius: 50px !important;

  background: #ccccff !important;

  height: 50px;
  border-radius: 50px;
  width: 90%;
}
.btn-outline-success_1 {
  -webkit-border-radius: 50px !important;
  border-radius: 50px;
  margin-right: 20px;

  background: #ccccff;
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.btn-outline-success_1 i {
  color: #979494 !important;
}
.btn-outline-success_1 {
  border-style: solid;
  border-color: #b2b8c9;
}
@media screen and (max-width: 1210px) {
  .form-inline {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  .img_2 {
    display: none;
  }
  .form-inline {
    display: none !important;
  }
  .navbar-nav {
    height: 100%;
    text-align: left;
    width: 100%;
    display: flex;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
}
.onoffswitch {
  position: relative;
  width: 90px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "en";

  padding-right: 40px !important;
  background-color: #333399;
  color: #f8eeee;
}
.onoffswitch-inner:after {
  content: "an";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;

  width: 35px;
  height: 35px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
