body {
  overflow: hidden;
}
.img_1 {
  height: 100%;
  margin-top: 100px;
  width: 100%;
}
.h_1 {
  margin-top: 100px;
  color: #999999;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.p_1 {
  color: #999999;
  font-size: 30px;
  margin-top: -100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/**************NavBar***********/
#header {
  background-color: #ffffff;
}

.nav-item {
  padding-left: 20px !important;
}

.nav-link:hover {
  color: #333399 !important;
}
.navbar-nav {
  height: 50px;
  width: 60%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccccff;

  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.navbar-nav a {
  padding-top: 15px;
  color: #999999 !important;
}

.nav-item :hover {
  color: #333399 !important;
}
.navbar-nav {
  height: 50px;
  width: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccccff;

  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.navbar-nav a {
  font-weight: 500;
  color: #999999 !important;
}

.nav-item :hover {
  color: #333399 !important;
}
.form-control_1 {
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.form-control {
  -webkit-border-radius: 50px !important;

  background: #ccccff !important;

  height: 50px;
  border-radius: 50px;
  width: 90%;
}
.btn-outline-success_1 {
  -webkit-border-radius: 50px !important;
  border-radius: 50px;
  margin-right: 20px;

  background: #ccccff;
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.btn-outline-success_1 i {
  color: #979494 !important;
}
.btn-outline-success_1 {
  border-style: solid;
  border-color: #b2b8c9;
}
@media screen and (max-width: 1220px) {
  .form-inline {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  .img_2 {
    display: none;
  }
  .form-inline {
    display: none !important;
  }
  .navbar-nav {
    text-align: left;
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
}
.onoffswitch {
  position: relative;
  width: 90px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "en";

  padding-right: 40px !important;
  background-color: #333399;
  color: #f8eeee;
}
.onoffswitch-inner:after {
  content: "an";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;

  width: 35px;
  height: 35px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
