body {
  background-color: #cccccc !important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  font-family: Lato;
}

/*






.radio {
  opacity: 0;
  width: 0;
  height: 0;
}

.wrapper {
  width: 50vw;

  display: flex;
}

.slide {
  width: 0;
}
.slider {
  position: relative;
  width: 80%;
  height: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center !important;
}

.slider img {
  position: absolute;
  top: 100px;

  width: 80%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider img.active {
  opacity: 1;
}

























#i_1:checked ~ .slider .img_1,
#i_2:checked ~ .slider .img_2,
#i_3:checked ~ .slider .img_3,
#i_4:checked ~ .slider .img_4 {
  opacity: 1;
  pointer-events: auto;
}

.label_1 {
  color: #757272;
  transition-duration: 0.6s;
  cursor: pointer;
}

.label_2 {
  color: #757272;
  transition-duration: 0.6s;
  cursor: pointer;
}

.label_3 {
  color: #757272;
  transition-duration: 0.6s;
  cursor: pointer;
}

.label_4 {
  color: #757272;
  transition-duration: 0.6s;
  cursor: pointer;
}

#i_1:checked ~ .controls label[for="i_1"],
#i_2:checked ~ .controls label[for="i_2"],
#i_3:checked ~ .controls label[for="i_3"],
#i_4:checked ~ .controls label[for="i_4"],
#i_5:checked ~ .controls label[for="i_5"],
#i_6:checked ~ .controls label[for="i_6"] {
  color: #424242;
}*/
label {
  color: #979494;
}
.About {
  background-color: #cccccc;
  width: 100% !important;
  margin-top: 100px;
}
.footer {
  background-color: #424242;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.text {
  font-size: 18px;
}
.moreText {
  display: none;
}
.read-more-btn {
  color: rgb(15, 4, 172) !important;
  font-weight: 700;
  cursor: pointer;
}

.text.show-more .moreText {
  display: inline;
}
.text.show-more .dots {
  display: none;
  color: rgb(4, 4, 192);
}
.navbar-nav {
  height: 50px;
  width: auto;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #ccccff;

  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}
.navbar-nav a {
  padding-top: 15px;
  color: #999999 !important;
}

.nav-item :hover {
  color: #333399 !important;
}
.form-control_1 {
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.form-control {
  -webkit-border-radius: 50px !important;

  background: #ccccff !important;

  height: 50px;
  border-radius: 50px;
  width: 90%;
}
.btn-outline-success_1 {
  -webkit-border-radius: 50px !important;
  border-radius: 50px;
  margin-right: 20px;

  background: #ccccff;
  -webkit-box-shadow: 12px 12px 24px #cfd6e7, -12px -12px 24px #f0f8ff !important;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff !important;
}
.btn-outline-success_1 i {
  color: #979494 !important;
}
.btn-outline-success_1 {
  border-style: solid;
  border-color: #b2b8c9;
}

.btn-outline-success_2 {
  -webkit-border-radius: 50px !important;
  border-radius: 50px;
}
.btn-outline-success_2 i {
  color: #797676 !important;
}
.btn-outline-success_2 {
  border-style: solid;
  border-color: rgb(204, 211, 204);
}
h1 {
  font-size: 25px !important;
  font-weight: 700 !important;
}
p {
  color: #666666;
}
h4 {
  color: #333399;
}
/**************NavBar***********/
#header {
  background-color: #ffffff;
}

.nav-item {
  padding-left: 10px !important;
}

.nav-link:hover {
  color: #333399 !important;
}
@media screen and (max-width: 1220px) {
  .img_22 {
    display: none;
  }
  .form-inline {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  .img_22 {
    display: none;
  }

  .form-inline {
    display: none !important;
  }

  .navbar-nav {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
}
@media screen and (width: 3060px) {
  .navbar-nav {
    height: 100%;
    width: 10%;
    text-align: left;
    display: flex;
  }
}
.onoffswitch {
  position: relative;
  width: 90px;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "en";

  padding-right: 40px !important;
  background-color: #333399;
  color: #f8eeee;
}
.onoffswitch-inner:after {
  content: "an";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;

  width: 35px;
  height: 35px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.slider-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;

  position: relative;
  width: 90%;
}

.slider {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 450px;
  overflow: hidden;
}

.slider-image {
  width: 80%;
  height: 90%;
}

.navigation-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #555;
}
